/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*
  ========================================
  Custom styles
  ========================================
*/
.center{
  width: 98%;
  margin: 0 auto;


}
body {
text-align: right;

  }
/*
  ========================================
  Grid
  ========================================
*/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
/*
  ========================================
  Clearfix
  ========================================
*/
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}
/* 
======================================
access
=====================================
*/
.access
{
  margin-bottom: 32px;

}
#access{
 
  
  display: inline-block;
}
 #access-button{
  display: inline-block;
    font-family: Arial;
    font-size: 16px;
    padding:7px 7px 7px 7px;
    background: #003466;
    color: #FFF;
    
     }
   /*
===================================
   position
===================================
  */
.pos{
  position:relative;
}
  /*
  ================================
  link
  ================================
  */
  a{
    cursor: pointer;
  }

   /*
==================================
logo
==================================
*/
.logo img{
  float: left;
} 
#top-ad{
  float: right;
}
/*
================================
nav
=================================
*/
.top-nav{
  vertical-align: middle;
  background-color: rgb(218, 218, 218);
  height: 35px;
  line-height: 35px;
  margin-top:15px ;
  border-bottom: 1px solid #fff;
}

  .top-nav a{
  font-family: Arial;
  font-size: 16px;
  TEXT-DECORATION: none;
  font-weight: bold;
  color: red;
  padding-left: 7px;
  padding-right: 7px;
  border-left: 1px solid #fff;
 
}
 #facebook{
 position:absolute;
 right: 715px;
 top: 10px;
 padding-left: 7px;
 padding-right: 7px;
 border-left: 1px solid #fff;
}
#english{

  position:absolute;
  right: 795px;
  top: 10px;
  height: 17px;
  line-height: 17px;
  padding-right: 7px;
  padding-left: 7px;
  border-left:none;
}
/*
=============================
second top nav
=============================
*/
.second-top-nav{
  background-color: rgb(120, 153, 215);
  height: 35px;
  line-height: 35px;
}

.second-top-nav a{

  float:right;
  font-family: Arial;
  font-size: 14px;
  TEXT-DECORATION: none;
  color: white;
  margin-left: 9%;
  padding-left: 10px;
  padding-right: 10px;
}
#google{
  position:absolute;
  right: 1200px;
  top: 0px;
  padding-right: 7px;
  padding-left: 7px;
  width:98.5px;
  height:30px;

}
#apple{
  position:absolute;
  right: 1500px;
  top: 0px;
  padding-right: 7px;
  padding-left: 7px;
  width:108.5px;
  height:30px;
 
}

 
 
    

