/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*
  ========================================
  Custom styles
  ========================================
*/
body{
  direction:rtl;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  min-width: 1904px;
}
h5{
  font-weight: bold;
}
b{
  font-weight: bold;
}

.container{
  width: 98%;
  margin: 0 auto;

}
h1{
  font-size: 13px;
}
h2{
  font-size: 14px;
  font-weight: bold;
}
.orange{
  color: #E57E00;
}
.red{
  color:red;
}
.Grey-title {
  color: #636363;
  font-weight: bold;
  font-size: 12px;
  font-family: Arial;
}
.subtitleLinks {
  font-family: Arial;
  font-size: 12px;
  color: #003b77;
  text-decoration: underline;
  font-weight: 400;
  padding: 0 2px;
}
.NewsSubject {
  text-decoration: none;
  color: #004d9c;
  font: bold 14px Arial, Helvetica, Verdana, Sans-serif;
  display: inline-block;
  width: 219px;
   }

/*
  ========================================
  Grid
  ========================================
*/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/*
  ========================================
  Clearfix
  ========================================
*/
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}
/* 
======================================
access
=====================================
*/
.access
{
  
  text-align: right;
  margin-bottom: 20px;


}

 #access-button{
  display: inline-block;
    font-family: Arial;
    font-size: 16px;
    padding:7px 7px 7px 7px;
    background: #003466;
    color: #FFF;
    
     }
   /*
===================================
   position
===================================
  */
.pos{
  position:relative;
}
  /*
  ================================
  link
  ================================
  */
  a{
    cursor: pointer;
  }
  .red-link{
    color: red;
    text-decoration: underline;
    font-weight: bold;
  }

  .normal-link{
    color: #0000ee;
    text-decoration: underline;

  }

.around-navigation{
  text-align: right;
  padding:0 7px;
  height: 18px;
  line-height: 18px;
  margin: 0 1px;
}
.navigation{
  font-family: Arial;
  font-size: 12px;
  vertical-align: middle;
  margin-bottom: 12px;
}
div.around-navigation:hover{
  background-color: #E57E00;
}


   /*
==================================
logo
==================================
*/
.logo img{
  float: left;
} 
#top-ad{
  float: right;
}

/*
===================================
Custom-title
===================================
*/

 .body-title{
    font-family: Arial;
    font-size: 12px;
    font-weight: bolder;
    color: red;

  }
  .around-body-title{
    text-align: right;
    background-color: #dadada;
    padding-top:4px;
    padding-bottom: 4px;
    padding-right: 5px;
  }

/*
================================
top nav
=================================
*/
.top-nav{
   text-align: right;
  vertical-align: middle;
  background-color: rgb(218, 218, 218);
  height: 35px;
  line-height: 35px;
  margin-top:15px ;
  border-bottom: 1px solid #fff;
}

  .top-nav a{
  font-family: Arial;
  font-size: 16px;
  TEXT-DECORATION: none;
  font-weight: bold;
  color: red;
  padding-left: 7px;
  padding-right: 7px;
  border-left: 1px solid #fff;
 
}
 #facebook{
 position:absolute;
 right: 700px;
 top: 10px;
 padding-left: 7px;
 padding-right: 7px;
 border-left: 1px solid #fff;
}
#english{

  position:absolute;
  right: 780px;
  top: 10px;
  height: 17px;
  line-height: 17px;
  padding-right: 7px;
  padding-left: 7px;
  border-left:none;
}
/*
=============================
second top nav
=============================
*/
.second-top-nav{
  background-color: rgb(120, 153, 215);
  height: 35px;
  line-height: 35px;
}

.second-top-nav a{

  float:right;
  font-family: Arial;
  font-size: 14px;
  TEXT-DECORATION: none;
  color: white;
  margin-left: 9%;
  padding-left: 10px;
  padding-right: 10px;
}
#google{
  position:absolute;
  right: 1200px;
  top: 0px;
  padding-right: 7px;
  padding-left: 7px;
  width:98.5px;
  height:30px;

}
#apple{
  position:absolute;
  right: 1500px;
  top: 0px;
  padding-right: 7px;
  padding-left: 7px;
  width:108.5px;
  height:30px;
}
/*
========================================
First column out of four (from right)
========================================
*/
.first-col-from-right{

  display: inline-block;
  width: 166px;
  border-right: 2px solid  rgb(120, 153, 215);
  vertical-align: top;
}
.abc
{
background-color: rgb(120, 153, 215);
height: 100%;
min-height: 518px;
}
/*
========================================
second column out of four (from right)
========================================
*/
.second-col-from-right{
  display: inline-block;
  width: 120px;
  color: #FFF;
  background-color: rgb(120, 153, 215);
  vertical-align:top;
  min-height: 1740px;
  border-left: 3px solid rgb(120, 153, 215);
  border-right: 3px solid rgb(120, 153, 215);

}
/*
/*
========================================
third column out of four (from right)
========================================
*/
.third-four-col{
  display: inline-block;
    width: 1577px;
  }
.Third-column-from-right{
  display: inline-block;
  width:1321px;
}
.weather-observations{
  margin-right: 5px;
  margin-top: 7px;
  margin-bottom: 10px;
  line-height: 17px;

}
.celsius{
  font-family: Arial;
  font-size: 13px;
  font-weight: bold;
  padding: 0 2px;
}
.celsius,
.space-subtitle
{
  padding: 0 2px;
}
.indent-from-right{
  margin-right: 139px;
}
.date{
  font-weight: bold;
  color: #003b77;
  margin-top: 13px;
}
.extended-forecast,
.extended-forecast p{
  margin-top: 13px;
  margin-bottom: 13px;
  font-size: 13px;
}
#stupid-space{
  margin-top:20px ;
  margin-bottom: 15px;
}
.temperature-averages{
  margin-top:24px
}
.temperature-averages p{
  font-size: 13px;
  line-height: 15px;
}
#weather-last-few-days{
  margin-top: 7px;
  margin-bottom: 7px;
  margin-right: 139px;
}
#title-Israelworld{
  margin-top: 23px;
  width: 350px;
  margin-right: 130px;
}
.NewsSubject {
  text-decoration: none;
  color: #004d9c;
  font: bold 14px Arial, Helvetica, Verdana, Sans-serif;
   }
   .weather-in-Israel-world{
    padding-bottom: 7px;
   }
   .distance-update{
    padding-top: 10px;
   }

/*
======================================
last column out of four (right)
======================================
*/
.last-col-from-right{
  margin:3px;
  display: inline-block; 
  vertical-align:top;
  width: 250px;
}
  #space-one{
    margin-bottom: 1px;
  }
  #weather-now{
    margin-top :20px;
    margin-bottom: 30px;
    text-decoration: underline;
    color: #0000ee;
    text-align: left;
  }
  #space-two{
    margin-top: 50px;
  }
  #offset{
    position:absolute;
    right: 4px;
  }
  #offset-img{
    position:absolute;
    right: 3px;
  }
  #img-in-img{
    position:absolute;
    top: 8px;
    left: 184px;
    border: 2px solid #fff;
  }
  #weather-in-facebook{
    position:absolute;
    max-width: 140px;
    color: #fff;
    text-shadow: 0 2px 4px rgb(0 0 0 / 90%);
    top: 10px;
    left: 40px;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.358;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: -5px;
}
a:hover#weather-in-facebook {
  text-decoration: underline;
 }
 #space-around-face-weather{
  margin-top: 110px;
  margin-bottom: 100px;

 }
 .dist-from-face-weather{
  margin-top: 200px;
 }
 /*
 ===========================================
 Central-advertisement
 ===========================================
 */
 .Central-advertisement,
 .Central-advertisement-bottom{
  width:743px;
  padding-left: 18px;
  padding-right:18px;
  border:1px solid #aaa8a8;
  padding: 5px 18px;
 }
 .Central-advertisement{
  height: 221px;
 }
 .Central-advertisement-bottom{
  height: 60px;
  border-top:none;
 }
.to-right{
  float: right;
 }

#title-advertisement{
  color: rgba(0,0,0,0.85);
    font-family: "Heebo",Google Sans,Roboto,Arial,sans-serif;
    font-size: 23.33px;
    padding-top: 60px;
    padding-right: 15px;
    font-weight: 500;
}
.subtitle-advertisement,
.subtitle-advertisement-bottom{
  color: rgba(0,0,0,0.5);
  font-family: "Heebo",Google Sans,Roboto,Arial,sans-serif;
  font-weight: 400;
  line-height: 1.2;
  font-size: 15.33px;
}
.subtitle-advertisement{
padding-top: 30px;
padding-right: 15px;
}
.subtitle-advertisement-bottom{
  padding-top: 10px;
}
 /*
=====================================
footer
=====================================
*/
footer{
  margin-bottom: 10px;
}
.bottom_links{

  height: 36px;
  line-height: 36px;
  background-image: url(images/bottom_body1.gif);
  width: 100%;
  margin-top: 50px;
    font-family: Arial;
    font-size: 12px;
    TEXT-DECORATION: none;
    color: #505074;
    text-align: center;
    margin-bottom: 3px;
  
}
.bottom_links_sap {
  padding: 0 2px;

  color: #505074;
}

.or{
display: inline-block;
  width: 1577px;
}
.center{
  text-align:center ;
  line-height: 17px;
  margin-bottom: 15px;
}




 




 
 


 




 
 
    

